.login {
  background-color: #080710;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-sub {
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 10px 35px;
}
.register-form-sub {
  height: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 35px 35px;
  padding-top: 10px;
}
.login-form form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.login-form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.login-sub {
  margin-top: 50px;
}
.login-sub .inp {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-sub .inp:hover {
  background-color: #6e717f;
  color: white;
  transition: all 0.2s;
}

.login-sub .load {
  background-color: #6e717f;
}
.ps {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}
.ps input {
  margin: 0;
}

.ps img {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 460px) {
  .login-form-sub {
    width: 90vw;
  }
  .register-form-sub {
    width: 90vw;
  }
  .login-form form h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .login-form label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
  }
  .login-form input {
    display: block;
    height: 50px;
    margin-top: 4px;
  }
  .login-sub input {
    margin-top: 50px;
  }
}
