.formcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(235, 235, 235);
}
.formcard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 900px;
  margin-block: 30px;
  border-radius: 5px;
  padding: 30px;
  color: black;
}

.formcard form {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(2, 350px);
  align-items: start; */
}

.inp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.inp label {
  padding: 7px;
  font-size: 14;
  color: rgb(117, 116, 116);
}

.inp input,
.inp textarea {
  max-width: 500px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid rgb(163, 163, 163);
  padding: 10px;
  font-size: 15px;
}
.inp input:focus,
.inp textarea:focus {
  outline: none;
}

.inp input {
  max-height: 40px;
}

.inp textarea {
  min-height: 100px;
}

.sub {
  padding-top: 20px;
  display: flex;
  justify-content: end;
}
.sub .btn {
  width: 150px;
}
