.formcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.formcard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  width: 900px;
  margin-block: 30px;
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  color: black;
}

.formcard form {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  align-items: start;
}

.inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.inp label {
  padding-left: 7px;
  font-size: 14;
  color: rgb(117, 116, 116);
}

.inp input,
.inp textarea {
  max-width: 300px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.inp input {
  max-height: 40px;
}

.inp textarea {
  min-height: 100px;
}

.sub {
  padding-top: 20px;
}
.sub .btn {
  width: 150px;
}
