.place-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
}
.place-img {
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
}
.place-img img {
  height: 100vh;
  width: 100%;
  object-position: top;
}
.name-loc {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 80vh;
  left: 10%;
  z-index: 11;
}
.name-loc h2 {
  font-weight: 500;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
}
.locatn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.name-loc p {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.77);
}
.name-loc span {
  color: white;
}
.place-img::before {
  content: "";
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  pointer-events: none;
  z-index: 10;
}
.read-or-hide {
  cursor: pointer;
}
.importance {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 90%;
  border-radius: 20px;
}
.top {
  padding-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}
.top img {
  width: 25px;
  height: 25px;
}
.top h4 {
  font-weight: 700;
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}
.importance p {
  font-size: 17px;
  font-weight: 500;
  text-align: start;
  padding: 20px 30px 30px 70px;
}
.about-monument {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
  border-bottom: 2px solid rgba(91, 91, 91, 1);
}
.about-monument h4 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 20px;
}
.about-monument p {
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
.arch-imp {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border-radius: 20px;
  border: 2px solid rgba(91, 91, 91, 1);
  text-align: left;
}
.arch-imp h4 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
  line-height: 30px;
}
.arch-imp p {
  font-size: 17px;
  font-weight: 500;
  text-align: start;
  padding: 20px 30px 30px 50px;
}
.gallery {
  text-align: left;
  width: 90%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.gallery h4 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 20px;
}
.all-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-columns: 1fr 1.5fr 1fr; */
  /* grid-template-rows: auto auto 1fr 1fr 1fr auto auto; */
  padding-top: 30px;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  /* grid-auto-rows: minmax(50px, auto); */
  justify-content: center;
}
.gallery-images {
  border-radius: 3px;
  overflow: hidden;
}
.gallery-images img {
  height: 50vh;
  object-fit: cover;
  display: block;
}
.gallery-images video {
  height: 40vh;
  object-fit: cover;
}
.gallery-title {
  width: 100%;
  height: 50px;
  font-size: 10px;
  background-color: rgb(33, 31, 31);
  color: white;
  padding: 10px;
}
.titles {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.verify {
  z-index: 9999;
  position: fixed;
  bottom: 40px;
  right: 50px;
}


@media (max-width: 760px) {
  .place-img {
    height: 80vh;
  }
  .place-img::before {
    height: 80vh;
  }
  .name-loc {
    top: 65vh;
    left: 5%;
    z-index: 11;
  }
  .name-loc h2 {
    font-size: 20px;
  }
  .name-loc p {
    font-size: 15px;
  }
  .name-loc span {
    font-size: 20px;
  }
  .importance {
    margin-top: 20px;
    margin-bottom: 0;
    width: 95%;
  }
  .top {
    padding-top: 10px;
  }
  .top img {
    width: 20px;
    height: 20px;
  }
  .top h4 {
    font-weight: 500;
    font-size: 20px;
    padding-left: 15px;
    line-height: 20px;
  }
  .importance p {
    font-size: 13px;
    font-weight: 400;
    text-align: start;
    padding: 20px 10px 20px 20px;
  }
  .about-monument {
    margin-top: 20px;
    margin-bottom: 0;
    width: 95%;
  }
  .about-monument h4 {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 5px;
  }
  .about-monument p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
  }
  .arch-imp {
    margin-bottom: 10px;
    width: 95%;
  }
  .arch-imp h4 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .arch-imp p {
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px 20px 20px;
  }
  .gallery {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .gallery h4 {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .all-items {
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
  }
  .gallery-images {
    width: 45vw;
  }
  .gallery-images img {
    height: 20vh;
  }
  .gallery-images video {
    height: 20vh;
  }
  .gallery-title {
    height: 30px;
    font-size: 8px;
    padding: 5px;
  }
  .titles {
    font-size: 12px;
    font-weight: 300;
  }
  .verify {
    bottom: 20px;
    right: 30px;
  }
}

.mapview {
  width: 90%;
  height: 300px;
  background-color: red;
  margin-bottom: 40px;
}
